/* место для вашего кода */
a {
  text-underline-offset: 4px;
}

.header {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;
  padding: 92px 49px 92px 51px;
  background-color: #ffffff;
}

.header__links-list {
  display: flex;
  flex-direction: row;
  gap: 33px;
  list-style: circle;
}

.header__link {
  color: #000000;
  font-weight: 400;
  font-size: 18px;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  width: 136px;
}

.address {
  max-width: 240px;
  color: #000000;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.35;
}

.header__address {
  justify-self: end;
}

.header__address a {
  white-space: nowrap;
}

.cover {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
  padding: 165px 50px 50px;
  background: url(../images/cover.jpg) no-repeat center/cover;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0 0 0 / 0.6);
}

.cover__title {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  color: #ffffff;
  font-weight: 700;
  font-size: 100px;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.aligned-text {
  line-height: 1.15;
}

.aligned-text .letter-spacing-extended {
  letter-spacing: 60px;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_center .letter-spacing-extended {
  letter-spacing: 60px;
}

.aligned-text_right {
  text-align: right;
}

.aligned-text_right .letter-spacing-extended {
  letter-spacing: 60px;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  position: relative;
  display: flex;
  justify-content: end;
  align-items: center;
  margin-top: 126px;
}

.cover__description-text {
  margin-right: 78px;
  color: #ffffff;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.27;
  text-transform: uppercase;
  word-spacing: 18px;
}

.bet-button {
  width: 257px;
  border: 1px solid #ffffff;
  padding: 12px 32px;
  color: #ffffff;
  font-weight: 400;
  font-size: 22px;
  text-transform: uppercase;
  background-color: transparent;
}

.lots {
  max-width: 1440px;
  margin: 0 auto;
  padding: 180px 50px 181px;
  background-color: #ffffff;
}

.lots__heading {
  padding-left: 40px;
  color: #000000;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  margin: 27px 0 30px 0;
  list-style: none;
}

.lots__card-list-item {
  flex-grow: 1;
  width: 430px;
  height: 450px;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 50px 40px;
}

.card_type_book {
  background: url(../images/card-lot-02.jpg) no-repeat center/cover;
}

.card_type_film {
  background: url(../images/card-lot-01.jpg) no-repeat center/cover;
}

.card_type_picture {
  background: url(../images/card-lot-03.jpg) no-repeat center/cover;
}

.card-link {
  display: block;
  height: 100%;
  text-decoration: none;
}

.card__title {
  position: relative;
  color: #ffffff;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.2;
  text-decoration-line: underline;
  text-transform: uppercase;
}

.card__text {
  position: relative;
  color: #ffffff;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
}

.lots__look-more-link {
  padding-left: 40px;
  color: #000000;
  font-weight: 400;
  font-size: 20px;
}

.about {
  display: flex;
  gap: 25px;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 50px 185px;
  background-color: #ffffff;
}

.about__logo {
  width: 240px;
  height: 240px;
  margin: 0 95px;
  border-radius: 50%;
  padding: 63px 46px;
  background-color: #000000;
}

.about__title {
  margin: 100px 0;
  color: #000000;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 28px;
  color: #000000;
  font-weight: 400;
  font-size: 20px;
}

.footer {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 50px 90px;
  background-color: #ffffff;
}

.footer__menu-list {
  color: #000;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  list-style: none;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  justify-self: end;
  justify-content: space-between;
  width: 240px;
  height: 48px;
  list-style: none;
}

.footer__social-icon {
  width: 48px;
}
